@font-face {
    font-family: "norseBold";
    src: url(./fonts/Norse-Bold.otf);
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
}

#side-screen {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url("./imgs/background.avif");
    background-position: center;
    flex: 1 1 0;
}

.logo-text {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px 0 15px 0;
    margin-top: 300px;
    background-color: rgba(0, 0, 0, 50%);
}

.logo-text img{
    height: 140px;
}

h1 {
    font-family: "norseBold";
    color: white;
    font-size: 70pt;

    margin: 0;
}

.caption {
    align-self: center;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 15px;
}

.caption a:active, .caption a:link, .caption a:visited {
    color: white;
}

#main-screen{
    flex: 2 1 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
    gap: 20px;
    background-color: #f9fafb;
}

#hero, #sign-up, #bottom {
    padding: 0 20% 0 5%;
}

#hero {
    flex: 1 1 100px;
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
}

#hero p {
    font-size: 24pt;
    font-weight: bolder;
}

#sign-up {
    flex: 0 0 0;
    background-color: white;

    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 15%);

    height: fit-content;
    padding-bottom: 50px;
}

#inputs {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 50px;
}

#bottom {
    flex: 1 1 0;
}

.input {
    display: flex;
    flex-direction: column;

    width: max(35%, 250px);
}

.input input{
    font-size: 24px;
    border: 1px solid lightgrey;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.input input:focus {
    outline: 1px solid blue;
    box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 15%);
}

#password:invalid, #confirm-password:invalid {
    outline: 1px solid red;
}

label {
    font-weight: bold;
    color: #3a3b3c;
}

#bottom {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    gap:20px;
}

#bottom button {
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 15px 50px;
    background-color: #596D48;
    width: 300px;

    cursor: pointer;
    box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 15%);

    border: 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

a {
    cursor: pointer;
}

h3 a {
    color: #596D48;
}